<div class="botones">
    <h1 class="titulo__botones">Botones</h1>

    <div class="botones__lista">

        <!-- Boton Glow On -->
        <div class="item__boton">
            <h2 class="subtitulo__boton">Glow On</h2>
            <button class="btn btn__glow__on">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Botón
            </button>
        </div>


        <!-- Boton Outer Glow -->
        <div class="item__boton">
            <h2 class="subtitulo__boton">Outer Glow</h2>
            <button class="btn btn__outer__glow">
                Botón
            </button>
        </div>      

    </div>

</div>

