.btn__glow__on{
    background-color: #00e1ff; 
    position: relative; 
    cursor: pointer; 
    font-weight: 400; 
    border: none;
    overflow: hidden; 
    box-shadow: 0 5px 10px #00e1ff60;
}

.btn__glow__on::after{
    content: ''; position: absolute; top: 0; left: -100%; width: 100%; height: 100%;
    background: linear-gradient(90deg, transparent, #b5f6ff, transparent); transition: 0.3s;
}

.btn__glow__on:hover::after {
    left: 100%;
}

.btn__glow__on span{
    position: absolute; display: block; transition: 0.3s ease;
}

.btn__glow__on span:nth-child(1){
    top: 0; left: 0; width: 0px; height: 1.5px; background: white;
}

.btn__glow__on:hover span:nth-child(1){
    width: 100%; transform: translateX(100%);
}

.btn__glow__on span:nth-child(2){
    top: 0; left: 0; width: 1.5px; height: 0px; background: white;
}

.btn__glow__on:hover span:nth-child(2){
    height: 100%; transform: translateY(100%);
}

.btn__glow__on span:nth-child(3){
    bottom: 0; right: 0; width: 2px; height: 0; background: white;
}

.btn__glow__on:hover span:nth-child(3){
    height: 100%; transform: translateY(-100%);
}

.btn__glow__on span:nth-child(4){
    bottom: 0; right: 0; width: 0%; height: 2px; background: white;
}

.btn__glow__on:hover span:nth-child(4){
    width: 100%; transform: translateX(-100%);
}